.icon {
  $facebook-color: #3b5998;
  $instagram-color: #c13584;
  $twitter-color: #1da1f2;
  $justName-color: #d3d3d3;

  &.inline {
    margin-right: 0.5em;
  }

  &.facebook {
    color: $facebook-color;
  }

  &.instagram {
    color: $instagram-color;
  }

  &.twitter {
    color: $twitter-color;
  }

  &.justName {
    color: $justName-color;
  }
}
