.tag-search {
  background-color: $white;
  padding: 1.5rem 2rem;
  border-radius: 10px;

  .tag-search-button {
    display: block;
    margin-left: auto;
    background-color: $light-blue;
    border: none;

    &:hover, &:active, &:focus {
      background-color: $dark-blue !important;
    }
  }
}
