$main-font: 'Roboto', sans-serif;

$form-separator: #D3D3D3 2px solid ;
$light-box-border: #ced4da 1px solid;

$danger-color: #dc3545;

/* Palette */
$navy: #01161e;
$dark-blue: #124559;
$light-blue: #598392;
$light-olive: #aec3b0;
$whiten-olive: #eff6e0;
$white: #fff;
$black: #000;
