.map-embed-container {
  background-image: url('/img/embed-spinner.gif');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;

  height: 75vh;
  width: 100%;
}
