.language-switcher {
  // TODO: Need to change these colors.
  $dropdown-active-bg: #ff55ff;
  $dropdown-item-bg-hover: #f5f5f5;

  &.dropdown {

    .dropdown-menu {

      .dropdown-item {

        &:hover {
          background-color: $dropdown-item-bg-hover;
        }

        &:active {
          background-color: $dropdown-active-bg;
        }

        &.active {
          background-color: $dropdown-active-bg;

        }
      }
    }
  }
}
